@{
    ViewBag.Title = "Chi Siamo";
}
<h1>@ViewBag.Title.</h1>


        <p style="font-size:15px; margin-top:15px;">
            La Societa' Chimica Italiana, fondata nel 1909 ed eretta in Ente Morale con R.D. n. 480/1926, è un’associazione scientifica che annovera oltre tremilacinquecento iscritti.
            I Soci svolgono la loro attività nelle università e negli enti di ricerca, nelle scuole, nelle industrie, nei laboratori pubblici e privati di ricerca e controllo, nella libera professione.
            Essi sono uniti, oltre che dall’interesse per la scienza chimica, dalla volontà di contribuire alla crescita culturale ed economica della comunità nazionale, al miglioramento della qualità della vita dell’uomo e alla tutela dell’ambiente.
        </p>
        <p style="font-size:15px; margin-top:15px;">
            La Società Chimica Italiana ha lo scopo di promuovere lo studio ed il progresso della Chimica e delle sue applicazioni ed in particolare:
        </p>
            <blockquote >
                <ul>
                    <li>Favorire ed incrementare la ricerca scientifica in tutti i campi della Chimica;</li>
                    <li style="margin-top:10px;">Divulgare la conoscenza della Chimica e l’importanza delle sue applicazioni nel quadro del progresso e del  benessere dell’umanità;</listyle="margin-top:500px;">
                    <li style="margin-top:10px;">Promuovere e favorire lo studio della Chimica nelle Università ed in tutte le Scuole di ogni ordine e grado;</li>
                    <li style="margin-top:10px;">Promuovere in ogni campo lo sviluppo delle Scienze.</li>
                    <li style="margin-top:10px;">Per raggiungere questi scopi, e con esclusione del fine di lucro, la Società Chimica Italiana promuove, anche mediante i suoi Organi Periferici, (Sezioni, Divisioni, Gruppi Interdivisionali), pubblicazioni, studi, indagini, manifestazioni.</li>
                </ul>
            </blockquote>
                <p style="font-size:15px;">
                Le Sezioni perseguono a livello regionale gli scopi della Società. Le Divisioni riuniscono Soci che seguono un comune indirizzo scientifico e di ricerca. I Gruppi Interdivisionali  raggruppano i Soci interessati a specifiche tematiche interdisciplinari.
                </p>
                <p style="font-size:15px;">
                Gli organi direttivi della Società sono il Presidente, il Comitato Esecutivo ed il Consiglio Centrale. Sezioni e Divisioni sono rette anch’esse da un Presidente e da un Consiglio Direttivo .
                </p>
                <p style="font-size:15px;">
                La Società organizza numerosi convegni, corsi, scuole e seminari sia a livello nazionale che internazionale. Per divulgare i principi della scienza chimica nella scuola secondaria superiore organizza annualmente i Giochi della Chimica, una competizione che consente ai giovani di mettere alla prova le proprie conoscenze in questo campo e che seleziona la squadra nazionale per le Olimpiadi internazionali della Chimica.
                </p>
                <p style="font-size:15px;">
                Rilevante è l'attività editoriale con la pubblicazione, congiuntamente ad altre Società Chimiche Europee, di riviste scientifiche di alto livello internazionale. Pubblica inoltre la rivista  La Chimica nella Scuola.
                </p>
                <p style="font-size:15px;">
                    Organo ufficiale della Società è la rivista  La Chimica e l’Industria.</p>
