@{
    ViewBag.Title = "Contatti";
}
<h2>@ViewBag.Title.</h2>

    <div sx style="float:left; position:static; margin-top:45px; font-size:20px;">
        <address>
            Società Chimica Italiana<br />
            Viale Liegi , 48<br />
            00195 Roma<br />
            <abbr title="Phone">Tel:</abbr>
            06 8549691
        </address>
    </div>


        <p style="margin-left:450px; border-top:double; border-color:black; margin-top:20px;">
            <strong>Segreteria Generale Sig.ra Paola Cerrini</strong>      <br>     E-mail:<a href="mailto:segreteria@soc.chim.it">segreteria@soc.chim.it</a>
        </p>

        <p style="margin-left:450px; border-top:double; border-color:black; margin-top:20px;">
            <strong>Amministrazione Rag. Simone Fanfoni</strong>           <br>      E-mail:<a href="mailto:simone.fanfoni@soc.chim.it">simone.fanfoni@soc.chim.it</a>
        </p>

        <p style="margin-left:450px; border-top:double; border-color:black; margin-top:20px;">
            <strong>Congressi e Redazione Sig.ra Manuela Mostacci</strong>   <br>     E-mail:<a href="mailto:ufficiocongressi@soc.chim.it">ufficiocongressi@soc.chim.it</a>
        </p>

        <p style="margin-left:450px; margin-bottom:55px; border-top:double; border-color:black; margin-top:20px;">
            <strong>Ufficio Soci Sig.ra Maria Carla Ricci</strong>        <br>          E-mail:<a href="mailto:ufficiosoci@soc.chim.it">ufficiosoci@soc.chim.it</a>
        </p>
    
