@{
    ViewBag.Title = "Contatti";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Società Chimica Italiana<br />
    Viale Liegi , 48<br />
    00195 Roma<br />
    <abbr title="Phone">Tel:</abbr>
    06 8549691
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>